#add-tweet
	%form{action:"/tweets", method:"post", id:"tweet-box"}
		%textarea{type:"text", name:"content", placeholder: "What would you like to say?"}
		%button Tweet!

#tweets
	%ul
		-if @tweets
			- @tweets.each do |tweet|
				%li
					= tweet.content
					posted at #{tweet.date.asctime} by
					%a{href:"/profile/#{tweet.user.username}"}= "#{tweet.user.username}"