- if current_user
	#add-tweet
		%form{action:"/tweets", method:"post"}/
		%textarea{type:"text", name:"content"}
		%button Tweet!

%ul
	- @tweets.each do |tweet|
		%li
			= tweet.content
			posted at #{tweet.date.asctime}
