<div id="add-tweet">
	<form action="/tweets", method="post">
		<textarea type="text", name="content"></textarea>
		<button>Tweet!</button>
	</form>
</div>
<ul>
	<% @tweets.each do |tweet| %>
		<li><%= tweet.content %> posted at <%= tweet.date.asctime %></li>
	<% end %>
</ul>x