body {
	height: 100%;
}
header h1 {
	margin:	0;
	text-align: center;
}

header {
	background-color: silver;
}

header a {
	display: inline;
	position: relative;
	left: 60%;
}

header ul, header ul li a {
	display: inline;
}

li {
	list-style: none;
}

#tweet-box {
	text-align: center;
}

#tweet-box textarea {
	height: 80px;
	width: 280px
}

#tweets {
	text-align: center;
}

#tweets li {
	padding-bottom: 10px;
	border: groove;
}
