body {
	height: 100%;
    font-family: 'Molengo', sans-serif
}
header a.brand-link {
    text-decoration: none;
    font-size: 4em;
	margin:	0;
    font-family: 'Molengo', sans-serif;
    color: white;
}

header {
    background-color: rgba(217, 148, 84, 0.9);
    border: 1 solid;
    margin-bottom: 10px;
}


header ul, header ul li a {
	display: inline;
}

li {
	list-style: none;
}

#tweet-box {
	text-align: center;
}

#tweet-box textarea {
	height: 80px;
	width: 280px
}

#tweets {
	text-align: center;
    padding: none;
}

#tweets ul {
    padding: 0;
    margin: none;
}

#tweets li {
	border: solid;
}
